azure-mgmt-resource==15.0.0b1
azure-mgmt-compute==17.0.0b1
azure-mgmt-network==16.0.0b1
azure-mgmt-keyvault==7.0.0b3
azure-keyvault-certificates==4.2.0
azure-keyvault-secrets==4.2.0
azure-identity==1.4.0

haikunator
six